// 主题颜色
$color_theme_1: #88bbd6; 
$color_theme_2: #99D3Df;
$color_theme_3: #efefef;

// 字体颜色
$font_color_1: #333333;
$font_color_2: #666666;
$font_color_3: #999999;

// 阴影
$box_shadow: 0 0 10px rgba(148, 148, 148, 0.1);

// 线的颜色
$line_color: #efefef;

// 背景色
$bg_color_1: #efefef;
$bg_color_2: #f0f0f0;